<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.EquipMapper">
    <select id="getEquipByEid" resultType="EquipModel">
        select
        *
        from all_equip 
        where eid = #{eid};
    </select>
    <select id="getEidsByUid" resultType="Integer">
        select
        eid
        from equip_uid 
        where uid = #{uid};
    </select>
    <select id="isHasEquip" resultType="boolean">
        select exists(
        select
        id
        from equip_uid 
        where uid = #{uid} and eid = #{eid});
    </select>

    <insert id="addEquipForUser">
        insert into equip_uid (
          eid, uid
        ) VALUES (
         #{eid}, #{uid}
        )
    </insert>
</mapper>