<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.TimeTrialMapper">
    <select id="getTimeTrialRecordByUid" resultType="TimeTrialRecordModel">
        select
        *
        from time_trial_record 
        where uid = #{uid};
    </select>

    <select id="getTimeTrialTimesByUid" resultType="Integer">
        select
        Count(*)
        from time_trial_record 
        where uid = #{uid};
    </select>

    <select id="getTimeTrialMapNumByUid" resultType="Integer">
        select
        Count(*)
        from time_trial_user_map 
        where uid = #{uid};
    </select>

    <insert id="addTimeTrialMapForUser">
        insert into time_trial_user_map ( cid, uid )
				   values
				   (#{cid}, #{uid});
    </insert>

    <insert id="insertRecord" parameterType="TimeTrialRecordModel">
        insert into time_trial_record ( uid, cid, complete_time, record_time)
				   values
				   (#{uid}, #{cid}, #{complete_time}, #{record_time});
    </insert>

    <update id="initTimeTrialRank">  
        create table  time_trial_rank_${cid} as
        select * from  (select user_rank.*, @rank_num  := @rank_num  + 1 as rank_num
                        from
                            (
                                select *
                                from
                                (select uid, min(complete_time) as complete_time
                                from
                                    time_trial_record
                                    where cid = ${cid} and complete_time != -1 
                                    group by uid) as min_time
                                order by complete_time asc
                            ) as user_rank,
                            (select @rank_num:= 0) r)  as all_user_rank;
    </update> 

    <update id="delTimeTrialRank">  
        drop table if exists time_trial_rank_${cid};
    </update> 

    <select id="getTimeTrialRank" resultType="TimeTrialRankModel">
        select
        *
        from time_trial_rank_${cid};
    </select>

    <select id="getTimeTrialInfos" resultType="TimeTrialInfoModel">
        select
        *
        from time_trial_class;
    </select>

    <select id="getTimeTrialInfo" resultType="TimeTrialInfoModel">
        select
        *
        from time_trial_class
        where cid = #{cid};
    </select>

    <select id="isHasTimeTrialClass" resultType="boolean">
        select exists(
        select
        id
        from time_trial_user_map 
        where uid = #{uid} and cid = #{cid});
    </select>

    <select id="getMiniCompleteTime" resultType="Integer">
        select complete_time 
        from
        (
            select
                record.*, @rownum  := @rownum + 1 as rownum
            from
                (
                    select uid, complete_time
                    from time_trial_record
                        where uid = #{uid} and cid = #{cid}
                        order by complete_time asc
                ) as record,
                (select @rownum:= 0) r
        ) as history_rank where rownum = 1 and complete_time != -1;
    </select>

    <select id="getRank" resultType="Integer">
        select rank_num 
        from time_trial_rank_${cid} 
        where uid = #{uid};  
    </select>
</mapper>