<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.UserMapper">
    <select id="getUserByUid" resultType="UserModel">
        select
        *
        from all_user 
        where uid = #{uid};
    </select>
    <select id="getUserByName" resultType="UserModel">
        select
        *
        from all_user 
        where user_name = #{userName};
    </select>
    <select id="isSuperuser" resultType="boolean">
        select exists(
        select
        uid
        from superuser 
        where uid = #{uid});
    </select>
    <select id="isExistsUser" resultType="boolean">
        select exists(
        select
        *
        from all_user 
        where user_name = #{userName});
    </select>
    <select id="isExistsUserByUid" resultType="boolean">
        select exists(
        select
        *
        from all_user 
        where uid = #{uid});
    </select>
    <insert id="insertUser" parameterType="UserModel">
        insert into all_user (
          user_name, user_password, login_time, aid, star, is_vip, eid
        ) VALUES (
         #{user_name}, #{user_password}, #{login_time}, #{aid}, #{star}, #{is_vip}, #{eid}
        )
    </insert>
    
    
    <update id="updateUserStar">
        update all_user
        set star = #{star}
        where uid = #{uid}
    </update>
</mapper>