<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.AssetsUpdatingMapper">
    <select id="getStatus" parameterType="Integer" resultType="boolean">
        select
        is_on
        from assets_updating 
        where id = #{id};
    </select>

    <select id="getUrl" parameterType="Integer" resultType="String">
        select
        url
        from assets_updating 
        where id = #{id};
    </select>

    <select id="getTime" parameterType="Integer" resultType="long">
        select
        updata_time
        from assets_updating 
        where id = #{id};
    </select>
</mapper>
