<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>Angola+244</string>
		<string>Afghanistan+93</string>
		<string>Albania+355</string>
		<string>Algeria+213</string>
		<string>Andorra+376</string>
		<string>Aruba+297</string>
		<string>Anguilla+1264</string>
		<string>Antigua and Barbuda+1268</string>
		<string>Argentina+54</string>
		<string>Armenia+374</string>
		<string>Australia+61</string>
		<string>Austria+43</string>
		<string>Azerbaijan+994</string>
	</array>
	<key>B</key>
	<array>
		<string>Bahamas+1242</string>
		<string>Bahrain+973</string>
		<string>Bosnia and Herzegovina+387</string>
		<string>Barbados+1246</string>
		<string>Bhutan+975</string>
		<string>Belarus+375</string>
		<string>Belgium+32</string>
		<string>Belize+501</string>
		<string>Benin+229</string>
		<string>Bermuda Is.+1441</string>
		<string>Bolivia+591</string>
		<string>Botswana+267</string>
		<string>Brazil+55</string>
		<string>Brunei+673</string>
		<string>Bulgaria+359</string>
		<string>Burkina-faso+226</string>
		<string>Burundi+257</string>
		<string>Burma+95</string>
		<string>Bangladesh+880</string>
	</array>
	<key>C</key>
	<array>
		<string>Czech Republic+420</string>
		<string>Canada+1</string>
		<string>Cape Verde+238</string>
		<string>Comoros+269</string>
		<string>Cuba+53</string>
		<string>Costa Rica+506</string>
		<string>Colombia+57</string>
		<string>Cayman Is+1345</string>
		<string>Croatia+385</string>
		<string>Cook Is+682</string>
		<string>Cameroon+237</string>
		<string>Cyprus+357</string>
		<string>Central African Republic+236</string>
		<string>Chad+235</string>
		<string>Chile+56</string>
		<string>China+86</string>
	</array>
	<key>D</key>
	<array>
		<string>Djibouti+253</string>
		<string>Denmark+45</string>
		<string>Dominica+1767</string>
		<string>Democratic Republic of the Congo+243</string>
		<string>Dominican Republic+1809</string>
		<string>Djibouti+253</string>
	</array>
	<key>E</key>
	<array>
		<string>Estonia+372</string>
		<string>East Timor+670</string>
		<string>Egypt+20</string>
		<string>Equatorial Guinea+240</string>
		<string>England+44</string>
		<string>Ecuador+593</string>
	</array>
	<key>F</key>
	<array>
		<string>Fiji+679</string>
		<string>Finland+358</string>
		<string>Faroe Islands+298</string>
		<string>France+33</string>
		<string>French Guiana+594</string>
		<string>French Polynesia+689</string>
	</array>
	<key>G</key>
	<array>
		<string>Germany+49</string>
		<string>Gambia+220</string>
		<string>Georgia+995</string>
		<string>Grenada+1473</string>
		<string>Greenland+299</string>
		<string>Guadeloupe+590</string>
		<string>Guam+1671</string>
		<string>Guyana+592</string>
		<string>Gabon+241</string>
		<string>Ghana+233</string>
		<string>Guinea+224</string>
		<string>Guinea-Bissau+245</string>
		<string>Guatemala+502</string>
		<string>Greece+30</string>
		<string>Gibraltar+350</string>
	</array>
	<key>H</key>
	<array>
		<string>Haiti+509</string>
		<string>Honduras+504</string>
		<string>Hongkong+852</string>
		<string>Hungary+36</string>
	</array>
	<key>I</key>
	<array>
		<string>Iceland+354</string>
		<string>Ireland+353</string>
		<string>Ivory Coast+225</string>
		<string>India+91</string>
		<string>Indonesia+62</string>
		<string>Iran+98</string>
		<string>Iraq+964</string>
		<string>Israel+972</string>
		<string>Italy+39</string>
	</array>
	<key>J</key>
	<array>
		<string>Japan+81</string>
		<string>Jamaica+1876</string>
		<string>Jordan+962</string>
	</array>
	<key>K</key>
	<array>
		<string>Kampuchea+855</string>
		<string>Kyrgyzstan+996</string>
		<string>Korea+82</string>
		<string>Kazakstan+7</string>
		<string>Kiribati+686</string>
		<string>Kenya+254</string>
		<string>Kuwait+965</string>
	</array>
	<key>L</key>
	<array>
		<string>Laos+856</string>
		<string>Latvia+371</string>
		<string>Lebanon+961</string>
		<string>Lesotho+266</string>
		<string>Liberia+231</string>
		<string>Libya+218</string>
		<string>Liechtenstein+423</string>
		<string>Lithuania+370</string>
		<string>Luxembourg+352</string>
	</array>
	<key>M</key>
	<array>
		<string>Macao+853</string>
		<string>Madagascar+261</string>
		<string>Malawi+265</string>
		<string>Malaysia+60</string>
		<string>Maldives+960</string>
		<string>Macedonia+389</string>
		<string>Mayotte+269</string>
		<string>Micronesia+691</string>
		<string>Mauritania+222</string>
		<string>Mali+223</string>
		<string>Malta+356</string>
		<string>Martinique+596</string>
		<string>Mauritius+230</string>
		<string>Mexico+52</string>
		<string>Moldova+373</string>
		<string>Monaco+377</string>
		<string>Mongolia+976</string>
		<string>Montenegro+382</string>
		<string>Montserrat Is+1664</string>
		<string>Morocco+212</string>
		<string>Mozambique+258</string>
	</array>
	<key>N</key>
	<array>
		<string>Netherlands+31</string>
		<string>Netheriands Antilles+599</string>
		<string>Namibia+264</string>
		<string>Nepal+977</string>
		<string>Nicaragua+505</string>
		<string>Niger+227</string>
		<string>Nigeria+234</string>
		<string>Norway+47</string>
		<string>New Zealand+64</string>
		<string>New Caledonia+687</string>
	</array>
	<key>O</key>
	<array>
		<string>Oman+968</string>
	</array>
	<key>P</key>
	<array>
		<string>Philippines+63</string>
		<string>Puerto Rico+1787</string>
		<string>Poland+48</string>
		<string>Paraguay+595</string>
		<string>Papua New Cuinea+675</string>
		<string>Panama+507</string>
		<string>Pakistan+92</string>
		<string>Palestinian Territory+970</string>
		<string>Palau+680</string>
		<string>Portugal+351</string>
		<string>Peru+51</string>
	</array>
	<key>Q</key>
	<array>
		<string>Qatar+974</string>
	</array>
	<key>R</key>
	<array>
		<string>Russia+7</string>
		<string>Réunion Island+262</string>
		<string>Republic Of The Congo+242</string>
		<string>Rwanda+250</string>
		<string>Romania+40</string>
	</array>
	<key>S</key>
	<array>
		<string>Sweden+46</string>
		<string>Switzerland+41</string>
		<string>South Africa+27</string>
		<string>Salvador+503</string>
		<string>Saint Lucia+1758</string>
		<string>Saint Vincent and The Grenadines+1784</string>
		<string>Sao Tome and Principe+239</string>
		<string>Saint Kitts and Nevis+1869</string>
		<string>Serbia+381</string>
		<string>South Sudan+211</string>
		<string>Saudi Arabia+966</string>
		<string>Senegal+221</string>
		<string>Seychelles+248</string>
		<string>Sierra Leone+232</string>
		<string>Slovakia+421</string>
		<string>Slovenia+386</string>
		<string>Solomon Is+677</string>
		<string>Somali+252</string>
		<string>Sri Lanka+94</string>
		<string>Sudan+249</string>
		<string>Suriname+597</string>
		<string>Swaziland+268</string>
		<string>Samoa+685</string>
		<string>Singapore+65</string>
		<string>Spain+34</string>
		<string>Syria+963</string>
	</array>
	<key>T</key>
	<array>
		<string>Togo+228</string>
		<string>Taiwan+886</string>
		<string>Tajikstan+992</string>
		<string>Tanzania+255</string>
		<string>Thailand+66</string>
		<string>Tonga+676</string>
		<string>Trinidad and Tobago+1868</string>
		<string>Turks and Caicos Islands+1649</string>
		<string>Tunisia+216</string>
		<string>Turkey+90</string>
		<string>Turkmenistan+993</string>
	</array>
	<key>U</key>
	<array>
		<string>United Arab Emirates+971</string>
		<string>United States of America+1</string>
		<string>Uganda+256</string>
		<string>Ukraine+380</string>
		<string>Uruguay+598</string>
		<string>Uzbekistan+998</string>
		<string>United Kingdom+44</string>
	</array>
	<key>V</key>
	<array>
		<string>Venezuela+58</string>
		<string>Vietnam+84</string>
		<string>Vanuatu+678</string>
		<string>Virgin Islands, British+1340</string>
		<string>Virgin Islands, US+1284</string>
	</array>
	<key>Y</key>
	<array>
		<string>Yemen+967</string>
	</array>
	<key>Z</key>
	<array>
		<string>Zimbabwe+263</string>
		<string>Zambia+260</string>
	</array>
</dict>
</plist>
