<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  	<servlet-name>Avatar</servlet-name>
  	<display-name>Avatar</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.Avatar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyAvatar</servlet-name>
  	<display-name>BuyAvatar</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.BuyAvatar</servlet-class>
  </servlet>
      <servlet>
  	<servlet-name>BuyEquip</servlet-name>
  	<display-name>BuyEquip</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.BuyEquip</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyTimeTrialClass</servlet-name>
  	<display-name>BuyTimeTrialClass</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.BuyTimeTrialClass</servlet-class>
  </servlet>
      <servlet>
  	<servlet-name>ChangeAvatar</servlet-name>
  	<display-name>ChangeAvatar</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.ChangeAvatar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeEquip</servlet-name>
  	<display-name>ChangeEquip</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.ChangeEquip</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>CreateMatch</servlet-name>
  	<display-name>CreateMatch</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.CreateMatch</servlet-class>
  </servlet>
       <servlet>
  	<servlet-name>Equip</servlet-name>
  	<display-name>Equip</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.Equip</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForcedUpdating</servlet-name>
  	<display-name>ForcedUpdating</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.ForcedUpdating</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MatchDetail</servlet-name>
  	<display-name>MatchDetail</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.MatchDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MatchResult</servlet-name>
  	<display-name>MatchResult</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.MatchResult</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>ModifyPersonalInfo</servlet-name>
  	<display-name>ModifyPersonalInfo</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.ModifyPersonalInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Resource</servlet-name>
  	<display-name>Resource</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.Resource</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>TimeTrialDetail</servlet-name>
  	<display-name>TimeTrialDetail</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.TimeTrialDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeTrialRank</servlet-name>
  	<display-name>TimeTrialRank</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.TimeTrialRank</servlet-class>
  </servlet> 
      <servlet>
  	<servlet-name>TimeTrialResult</servlet-name>
  	<display-name>TimeTrialResult</display-name>
  	<description></description>
  	<servlet-class>CrazyCarServer.TimeTrialResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestJWT</servlet-name>
  	<display-name>TestJWT</display-name>
  	<description></description>
  	<servlet-class>test.TestJWT</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Avatar</servlet-name>
  	<url-pattern>/Avatar</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>BuyAvatar</servlet-name>
  	<url-pattern>/BuyAvatar</url-pattern>
  </servlet-mapping> 
       <servlet-mapping>
  	<servlet-name>BuyEquip</servlet-name>
  	<url-pattern>/BuyEquip</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>BuyTimeTrialClass</servlet-name>
  	<url-pattern>/BuyTimeTrialClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeAvatar</servlet-name>
  	<url-pattern>/ChangeAvatar</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>ChangeEquip</servlet-name>
  	<url-pattern>/ChangeEquip</url-pattern>
  </servlet-mapping> 
       <servlet-mapping>
  	<servlet-name>CreateMatch</servlet-name>
  	<url-pattern>/CreateMatch</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>Equip</servlet-name>
  	<url-pattern>/Equip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForcedUpdating</servlet-name>
  	<url-pattern>/ForcedUpdating</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping> 
       <servlet-mapping>
  	<servlet-name>MatchDetail</servlet-name>
  	<url-pattern>/MatchDetail</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>MatchResult</servlet-name>
  	<url-pattern>/MatchResult</url-pattern>
  </servlet-mapping>   
     <servlet-mapping>
  	<servlet-name>ModifyPersonalInfo</servlet-name>
  	<url-pattern>/ModifyPersonalInfo</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping> 
       <servlet-mapping>
  	<servlet-name>Resource</servlet-name>
  	<url-pattern>/Resource</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>TimeTrialDetail</servlet-name>
  	<url-pattern>/TimeTrialDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeTrialRank</servlet-name>
  	<url-pattern>/TimeTrialRank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeTrialResult</servlet-name>
  	<url-pattern>/TimeTrialResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestJWT</servlet-name>
  	<url-pattern>/TestJWT</url-pattern>
  </servlet-mapping>
</web-app>
