<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.backgrounddownload">
    <application>
        <receiver android:name="com.unity3d.backgrounddownload.CompletionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
</manifest>
