<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.AdminUserMapper">
    <select id="getAllUserNum" resultType="Integer">
        select
        Count(*)
        from admin_user;
    </select>

    <select id="getUserByUid" resultType="AdminUserModel">
        select
        *
        from admin_user 
        where uid = #{uid};
    </select>

    <select id="getUserByName" resultType="AdminUserModel">
        select
        *
        from admin_user 
        where user_name = #{userName};
    </select>

    <select id="isExistsUser" resultType="boolean">
        select exists(
        select
        *
        from admin_user 
        where user_name = #{userName});
    </select>

    <select id="isExistsUserByUid" resultType="boolean">
        select exists(
        select
        *
        from admin_user 
        where uid = #{uid});
    </select>

    <insert id="insertUser" parameterType="AdminUserModel">
        insert into admin_user (
          user_name, user_password, des, router
        ) VALUES (
         #{user_name}, #{user_password}, #{des}, #{router}
        )
    </insert>

    <update id="updateUserPassword">
        update admin_user
        set user_password = #{password}
        where uid = #{uid}
    </update>

    <update id="updateUserRouter">
        update admin_user
        set user_password = #{router}
        where uid = #{uid}
    </update>
</mapper>