<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tastsong.crazycar.mapper.UserMapper">


    <insert id="insertUserLoginRecord" parameterType="UserLoginRecordModel">
        insert into user_login_record (
          user_name, login_time, place, device
        ) VALUES (
         #{user_name}, #{login_time}, #{place}, #{device}
        )
    </insert>

    <select id="getLoginRecordAfterTime" parameterType="Long" resultType="UserLoginRecordModel">
        select
        *
        from user_login_record 
        where login_time > #{time};
    </select>

    <select id="getUserLoginData" parameterType="Integer" resultType="DataStatisticsModel">
        select COUNT(*) as count, login_time as timestamp
        from user_login_record 
        where login_time > (unix_timestamp(CAST(SYSDATE()AS DATE)) - 60 * 60 * 24 * ${offsetTime}) 
        group by FROM_UNIXTIME(login_time, '%y-%m-%d'), login_time
        order by login_time limit ${offsetTime};
    </select>
</mapper>