<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>安哥拉+244</string>
		<string>阿富汗+93</string>
		<string>阿鲁巴+297</string>
		<string>阿尔巴尼亚+355</string>
		<string>阿尔及利亚+213</string>
		<string>安道尔共和国+376</string>
		<string>安圭拉岛+1264</string>
		<string>安提瓜和巴布达+1268</string>
		<string>阿根廷+54</string>
		<string>亚美尼亚+374</string>
		<string>澳大利亚+61</string>
		<string>奥地利+43</string>
		<string>阿塞拜疆+994</string>
		<string>埃及+20</string>
		<string>爱沙尼亚+372</string>
		<string>爱尔兰+353</string>
		<string>澳门+853</string>
		<string>阿曼+968</string>
		<string>阿拉伯联合酋长国+971</string>
	</array>
	<key>B</key>
	<array>
		<string>巴哈马+1242</string>
		<string>巴林+973</string>
		<string>巴巴多斯+1246</string>
		<string>白俄罗斯+375</string>
		<string>比利时+32</string>
		<string>伯利兹+501</string>
		<string>贝宁+229</string>
		<string>不丹+975</string>
		<string>波斯尼亚和黑塞哥维那的+387</string>
		<string>百慕大群岛+1441</string>
		<string>玻利维亚+591</string>
		<string>博茨瓦纳+267</string>
		<string>巴西+55</string>
		<string>文莱+673</string>
		<string>保加利亚+359</string>
		<string>布基纳法索+226</string>
		<string>布隆迪+257</string>
		<string>冰岛+354</string>
		<string>巴基斯坦+92</string>
		<string>巴拿马+507</string>
		<string>巴布亚新几内亚+675</string>
		<string>巴勒斯坦+970</string>
		<string>巴拉圭+595</string>
		<string>波兰+48</string>
		<string>波多黎各+1787</string>
	</array>
	<key>C</key>
	<array>
		<string>赤道几内亚+240</string>
	</array>
	<key>D</key>
	<array>
		<string>丹麦+45</string>
		<string>多米尼加共和国+1809</string>
		<string>多米尼加+1767</string>
		<string>德国+49</string>
		<string>东帝汶+670</string>
		<string>多哥+228</string>
	</array>
	<key>E</key>
	<array>
		<string>厄瓜多尔+593</string>
		<string>俄罗斯+7</string>
	</array>
	<key>F</key>
	<array>
		<string>斐济+679</string>
		<string>芬兰+358</string>
		<string>佛得角+238</string>
		<string>法罗群岛+298</string>
		<string>法国+33</string>
		<string>法属圭亚那+594</string>
		<string>菲律宾+63</string>
		<string>法属玻利尼西亚+689</string>
		<string>法属留尼汪岛+262</string>
	</array>
	<key>G</key>
	<array>
		<string>哥伦比亚+57</string>
		<string>刚果共和国+242</string>
		<string>刚果民主共和国+243</string>
		<string>哥斯达黎加+506</string>
		<string>古巴+53</string>
		<string>瓜德罗普岛+590</string>
		<string>冈比亚+220</string>
		<string>格鲁吉亚+995</string>
		<string>格林纳达+1473</string>
		<string>格陵兰岛+299</string>
		<string>关岛+1671</string>
		<string>圭亚那+592</string>
	</array>
	<key>H</key>
	<array>
		<string>海地+509</string>
		<string>洪都拉斯+504</string>
		<string>哈萨克斯坦+7</string>
		<string>韩国+82</string>
		<string>荷属安的列斯群岛+599</string>
		<string>荷兰+31</string>
		<string>黑山+382</string>
	</array>
	<key>I</key>
	<array/>
	<key>J</key>
	<array>
		<string>加拿大+1</string>
		<string>捷克+420</string>
		<string>吉布提+253</string>
		<string>加蓬+241</string>
		<string>加纳+233</string>
		<string>几内亚+224</string>
		<string>几内亚比绍+245</string>
		<string>基里巴斯+686</string>
		<string>柬埔寨+855</string>
		<string>吉尔吉斯坦+996</string>
		<string>津巴布韦+263</string>
	</array>
	<key>K</key>
	<array>
		<string>开曼群岛+1345</string>
		<string>库克群岛+682</string>
		<string>科特迪瓦+225</string>
		<string>科摩罗+269</string>
		<string>肯尼亚+254</string>
		<string>克罗地亚+385</string>
		<string>科威特+965</string>
		<string>喀麦隆+237</string>
		<string>卡塔尔+974</string>
	</array>
	<key>L</key>
	<array>
		<string>老挝+856</string>
		<string>拉脱维亚+371</string>
		<string>黎巴嫩+961</string>
		<string>莱索托+266</string>
		<string>利比里亚+231</string>
		<string>利比亚+218</string>
		<string>列支敦士登+423</string>
		<string>立陶宛+370</string>
		<string>卢森堡+352</string>
		<string>卢旺达+250</string>
		<string>罗马尼亚+40</string>
	</array>
	<key>M</key>
	<array>
		<string>缅甸+95</string>
		<string>马达加斯加+261</string>
		<string>马拉维+265</string>
		<string>马来西亚+60</string>
		<string>马尔代夫+960</string>
		<string>马其顿+389</string>
		<string>马约特岛+269</string>
		<string>马里+223</string>
		<string>马耳他+356</string>
		<string>马提尼克+596</string>
		<string>毛里塔尼亚+222</string>
		<string>毛里求斯+230</string>
		<string>墨西哥+52</string>
		<string>密克罗尼西亚+691</string>
		<string>摩尔多瓦+373</string>
		<string>摩纳哥+377</string>
		<string>蒙古+976</string>
		<string>蒙特塞拉特岛+1664</string>
		<string>摩洛哥+212</string>
		<string>莫桑比克+258</string>
		<string>秘鲁+51</string>
		<string>美国+1</string>
		<string>美属维尔京群岛+1284</string>
		<string>孟加拉国+880</string>
	</array>
	<key>N</key>
	<array>
		<string>纳米比亚+264</string>
		<string>尼泊尔+977</string>
		<string>尼加拉瓜+505</string>
		<string>尼日尔+227</string>
		<string>尼日利亚+234</string>
		<string>挪威+47</string>
		<string>南非+27</string>
		<string>南苏丹+211</string>
	</array>
	<key>O</key>
	<array/>
	<key>P</key>
	<array>
		<string>葡萄牙+351</string>
		<string>帕劳+680</string>
	</array>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array>
		<string>日本+81</string>
		<string>瑞典+46</string>
		<string>瑞士+41</string>
	</array>
	<key>S</key>
	<array>
		<string>塞浦路斯+357</string>
		<string>萨尔瓦多+503</string>
		<string>圣卢西亚+1758</string>
		<string>圣文森特和格林纳丁斯+1784</string>
		<string>圣多美和普林西比+239</string>
		<string>圣基茨和尼维斯+1869</string>
		<string>沙特阿拉伯+966</string>
		<string>塞内加尔+221</string>
		<string>塞舌尔+248</string>
		<string>塞拉利昂+232</string>
		<string>塞尔维亚+381</string>
		<string>斯洛伐克+421</string>
		<string>斯洛文尼亚+386</string>
		<string>所罗门群岛+677</string>
		<string>索马里+252</string>
		<string>斯里兰卡+94</string>
		<string>苏丹+249</string>
		<string>苏里南+597</string>
		<string>斯威士兰+268</string>
	</array>
	<key>T</key>
	<array>
		<string>台湾省+886</string>
		<string>塔吉克斯坦+992</string>
		<string>坦桑尼亚+255</string>
		<string>泰国+66</string>
		<string>汤加+676</string>
		<string>特立尼达和多巴哥+1868</string>
		<string>特克斯科斯群岛+1649</string>
		<string>突尼斯+216</string>
		<string>土耳其+90</string>
		<string>土库曼斯坦+993</string>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<string>危地马拉+502</string>
		<string>乌干达+256</string>
		<string>乌克兰+380</string>
		<string>乌拉圭+598</string>
		<string>乌兹别克斯坦+998</string>
		<string>委内瑞拉+58</string>
		<string>瓦努阿图+678</string>
	</array>
	<key>X</key>
	<array>
		<string>香港+852</string>
		<string>希腊+30</string>
		<string>匈牙利+36</string>
		<string>新西兰+64</string>
		<string>萨摩亚+685</string>
		<string>新加坡+65</string>
		<string>新喀里多尼亚+687</string>
		<string>西班牙+34</string>
		<string>叙利亚+963</string>
	</array>
	<key>Y</key>
	<array>
		<string>也门+967</string>
		<string>印度+91</string>
		<string>印度尼西亚+62</string>
		<string>伊朗+98</string>
		<string>伊拉克+964</string>
		<string>以色列+972</string>
		<string>意大利+39</string>
		<string>牙买加+1876</string>
		<string>约旦+962</string>
		<string>英国+44</string>
		<string>英属维尔京群岛+1340</string>
		<string>越南+84</string>
	</array>
	<key>Z</key>
	<array>
		<string>赞比亚+260</string>
		<string>中非共和国+236</string>
		<string>乍得+235</string>
		<string>智利+56</string>
		<string>中国+86</string>
		<string>直布罗陀+350</string>
	</array>
</dict>
</plist>
