<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Telegram</key>
	<dict>
		<key>BotDomain</key>
		<string>bot_domain</string>
		<key>BotToken</key>
		<string>bot_token</string>
		<key>PlatformID</key>
		<integer>47</integer>
	</dict>
	<key>ShareContentMapField</key>
	<dict>
		<key>urlName</key>
		<string>url_name</string>
		<key>videoFlashUrl</key>
		<string>video_flash_url</string>
		<key>audioFlashUrl</key>
		<string>audio_flash_url</string>
		<key>sourceFileExtension</key>
		<string>source_extension</string>
		<key>sourceFileData</key>
		<string>source_file</string>
		<key>userId</key>
		<string>uid</string>
		<key>comment</key>
		<string>comment</string>
		<key>resolveFinalUrl</key>
		<string>resolve_final_url</string>
		<key>folderId</key>
		<string>folder_id</string>
		<key>isPrivateFromSource</key>
		<string>private_from_source</string>
		<key>friendsOnly</key>
		<string>is_friend</string>
		<key>groupId</key>
		<string>group_id</string>
		<key>appButtonTitle</key>
		<string>app_button_title</string>
		<key>imageHeight</key>
		<string>image_height</string>
		<key>imageWidth</key>
		<string>image_width</string>
		<key>ipadMarkParam</key>
		<string>ipad_market_param</string>
		<key>ipadExecParam</key>
		<string>ipad_exec_param</string>
		<key>iphoneMarkParam</key>
		<string>iphone_market_param</string>
		<key>iphoneExecParam</key>
		<string>iphone_exec_param</string>
		<key>androidMarkParam</key>
		<string>android_market_​param</string>
		<key>androidExecParam</key>
		<string>android_exec_param</string>
		<key>enableShare</key>
		<string>enable_share</string>
		<key>permission</key>
		<string>permission</string>
		<key>boardName</key>
		<string>board</string>
		<key>notebook</key>
		<string>notebook</string>
		<key>author</key>
		<string>author</string>
		<key>source</key>
		<string>source</string>
		<key>videoPath</key>
		<string>video</string>
		<key>audioPath</key>
		<string>audio</string>
		<key>hidden</key>
		<string>hidden</string>
		<key>contentType</key>
		<string>content_type</string>
		<key>safetyLevel</key>
		<string>safety_level</string>
		<key>isFamily</key>
		<string>is_family</string>
		<key>isFriend</key>
		<string>is_friend</string>
		<key>isPublic</key>
		<string>is_public</string>
		<key>blogName</key>
		<string>blog_name</string>
		<key>visibility</key>
		<string>visibility</string>
		<key>menuY</key>
		<string>menu_display_y</string>
		<key>menuX</key>
		<string>menu_display_x</string>
		<key>tweetId</key>
		<string>tweet_id</string>
		<key>tags</key>
		<string>tags</string>
		<key>albumId</key>
		<string>album_id</string>
		<key>urlDesc</key>
		<string>desc</string>
		<key>bccRecipients</key>
		<string>bcc_recipients</string>
		<key>ccRecipients</key>
		<string>cc_recipients</string>
		<key>recipients</key>
		<string>recipients</string>
		<key>attachmentPath</key>
		<string>attachments</string>
		<key>emoticonData</key>
		<string>emoticon_data</string>
		<key>gif</key>
		<string>emoticon_data</string>
		<key>fileData</key>
		<string>file_data</string>
		<key>extInfo</key>
		<string>ext_info</string>
		<key>musicUrl</key>
		<string>audio_url</string>
		<key>text</key>
		<string>text</string>
		<key>title</key>
		<string>title</string>
		<key>url</key>
		<string>url</string>
		<key>type</key>
		<string>type</string>
		<key>images</key>
		<string>images</string>
		<key>objectID</key>
		<string>object_id</string>
		<key>latitude</key>
		<string>lat</string>
		<key>longitude</key>
		<string>long</string>
		<key>thumbImage</key>
		<string>thumb_image</string>
	</dict>
	<key>SinaWeibo</key>
	<dict>
		<key>PlatformID</key>
		<integer>1</integer>
		<key>AuthType</key>
		<string>auth_type</string>
		<key>RedirectUrl</key>
		<string>redirect_uri</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>AppKey</key>
		<string>app_key</string>
	</dict>
	<key>QZone</key>
	<dict>
		<key>PlatformID</key>
		<integer>6</integer>
		<key>AuthType</key>
		<string>auth_type</string>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppKey</key>
		<string>app_key</string>
	</dict>
	<key>KaiXin</key>
	<dict>
		<key>PlatformID</key>
		<integer>8</integer>
		<key>AppKey</key>
		<string>api_key</string>
		<key>AppSecret</key>
		<string>secret_key</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>DisplayName</key>
		<string>display_name</string>
		<key>PlatformID</key>
		<integer>10</integer>
		<key>ConsumerKey</key>
		<string>api_key</string>
		<key>ConsumerSecret</key>
		<string>app_secret</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>PlatformID</key>
		<integer>11</integer>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
		<key>ConsumerSecret</key>
		<string>consumer_secret</string>
		<key>CallbackUrl</key>
		<string>redirect_uri</string>
	</dict>
	<key>Evernote</key>
	<dict>
		<key>PlatformID</key>
		<integer>12</integer>
		<key>HostType</key>
		<string>host_type</string>
		<key>ConsumerSecret</key>
		<string>consumer_secret</string>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
	</dict>
	<key>EvernoteInternational</key>
	<dict>
		<key>PlatformID</key>
		<integer>996</integer>
		<key>HostType</key>
		<string>host_type</string>
		<key>ConsumerSecret</key>
		<string>consumer_secret</string>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
	</dict>
	<key>GooglePlus</key>
	<dict>
		<key>PlatformID</key>
		<integer>14</integer>
		<key>ClientID</key>
		<string>client_id</string>
		<key>ClientSecret</key>
		<string>client_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
	</dict>
	<key>Instagram</key>
	<dict>
		<key>PlatformID</key>
		<integer>15</integer>
		<key>ClientId</key>
		<string>client_id</string>
		<key>ClientSecret</key>
		<string>client_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
	</dict>
	<key>LinkedIn</key>
	<dict>
		<key>PlatformID</key>
		<integer>16</integer>
		<key>ApiKey</key>
		<string>api_key</string>
		<key>SecretKey</key>
		<string>secret_key</string>
		<key>RedirectUrl</key>
		<string>redirect_url</string>
	</dict>
	<key>Tumblr</key>
	<dict>
		<key>PlatformID</key>
		<integer>17</integer>
		<key>OAuthConsumerKey</key>
		<string>consumer_key</string>
		<key>SecretKey</key>
		<string>consumer_secret</string>
		<key>CallbackUrl</key>
		<string>callback_url</string>
	</dict>
	<key>Email</key>
	<dict>
		<key>PlatformID</key>
		<integer>18</integer>
	</dict>
	<key>ShortMessage</key>
	<dict>
		<key>PlatformID</key>
		<integer>19</integer>
	</dict>
	<key>Print</key>
	<dict>
		<key>PlatformID</key>
		<integer>20</integer>
	</dict>
	<key>Copy</key>
	<dict>
		<key>PlatformID</key>
		<integer>21</integer>
	</dict>
	<key>Wechat</key>
	<dict>
		<key>PlatformID</key>
		<integer>22</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
	</dict>
	<key>WechatMoments</key>
	<dict>
		<key>PlatformID</key>
		<integer>23</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
	</dict>
	<key>QQ</key>
	<dict>
		<key>PlatformID</key>
		<integer>24</integer>
		<key>AppKey</key>
		<string>app_key</string>
		<key>AppId</key>
		<string>app_id</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>Instapaper</key>
	<dict>
		<key>PlatformID</key>
		<integer>25</integer>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
		<key>ConsumerSecret</key>
		<string>consumer_secret</string>
	</dict>
	<key>Pocket</key>
	<dict>
		<key>PlatformID</key>
		<integer>26</integer>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>YouDao</key>
	<dict>
		<key>PlatformID</key>
		<integer>27</integer>
		<key>ConsumerKey</key>
		<string>consumer_key</string>
		<key>ConsumerSecret</key>
		<string>consumer_secret</string>
		<key>RedirectUri</key>
		<string>oauth_callback</string>
	</dict>
	<key>Pinterest</key>
	<dict>
		<key>PlatformID</key>
		<integer>30</integer>
		<key>ClientId</key>
		<string>client_id</string>
	</dict>
	<key>Flickr</key>
	<dict>
		<key>PlatformID</key>
		<integer>34</integer>
		<key>ApiKey</key>
		<string>api_key</string>
		<key>ApiSecret</key>
		<string>api_secret</string>
	</dict>
	<key>Dropbox</key>
	<dict>
		<key>PlatformID</key>
		<integer>35</integer>
		<key>AppKey</key>
		<string>app_key</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>RedirectUri</key>
		<string>oauth_callback</string>
	</dict>
	<key>VKontakte</key>
	<dict>
		<key>PlatformID</key>
		<integer>36</integer>
		<key>ApplicationId</key>
		<string>application_id</string>
		<key>SecretKey</key>
		<string>secret_key</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>WechatFavorite</key>
	<dict>
		<key>PlatformID</key>
		<integer>37</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
	</dict>
	<key>Yixin</key>
	<dict>
		<key>PlatformID</key>
		<integer>38</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>YixinMoments</key>
	<dict>
		<key>PlatformID</key>
		<integer>39</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>YixinFav</key>
	<dict>
		<key>PlatformID</key>
		<integer>40</integer>
		<key>AppId</key>
		<string>app_id</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>Mingdao</key>
	<dict>
		<key>PlatformID</key>
		<integer>41</integer>
		<key>AppKey</key>
		<string>app_key</string>
		<key>AppSecret</key>
		<string>app_secret</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
	</dict>
	<key>Line</key>
	<dict>
		<key>PlatformID</key>
		<integer>42</integer>
	</dict>
	<key>WhatsApp</key>
	<dict>
		<key>PlatformID</key>
		<integer>43</integer>
	</dict>
	<key>KakaoTalk</key>
	<dict>
		<key>PlatformID</key>
		<integer>44</integer>
		<key>AppKey</key>
		<string>app_key</string>
		<key>RestApiKey</key>
		<string>rest_api_key</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>KakaoStory</key>
	<dict>
		<key>PlatformID</key>
		<integer>45</integer>
		<key>AppKey</key>
		<string>app_key</string>
		<key>RestApiKey</key>
		<string>rest_api_key</string>
		<key>RedirectUri</key>
		<string>redirect_uri</string>
		<key>AuthType</key>
		<string>auth_type</string>
	</dict>
	<key>FacebookMessenger</key>
	<dict>
		<key>PlatformID</key>
		<integer>46</integer>
	</dict>
	<key>AliSocial</key>
	<dict>
		<key>PlatformID</key>
		<integer>50</integer>
		<key>AppId</key>
		<string>app_id</string>
	</dict>
</dict>
</plist>
